.theme-container.os-page-class {
  .os-vuepress-my-p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table {
    width: 100%;
  }
  .theme-default-content {
    max-width: 900px;
  }
  .example-area {
    padding: 20px 0 0 0;
  }
  .placement-button {
    position: absolute;  
    &:nth-child(1) {
      left: 100px;
      top: 0;
    }
    &:nth-child(2) {
      left: 180px;
      top: 0;
    }
    &:nth-child(3) {
      left: 260px;
      top: 0;
    }
    &:nth-child(4) {
      left: 330px;
      top: 60px;
    }
    &:nth-child(5) {
      left: 330px;
      top: 120px;
    }
    &:nth-child(6) {
      left: 330px;
      top: 180px;
    }
    &:nth-child(7) {
      left: 100px;
      top: 240px;
    }
    &:nth-child(8) {
      left: 180px;
      top: 240px;
    }
    &:nth-child(9) {
      left: 260px;
      top: 240px;
    }
    &:nth-child(10) {
      left: 30px;
      top: 60px;
    }
    &:nth-child(11) {
      left: 30px;
      top: 120px;
    }
    &:nth-child(12) {
      left: 30px;
      top: 180px;
    }
  }

  .costom-tree-container {
    display: flex;
    .tree-block {
      padding: 20px;
      flex: 1;
      p {
        text-align: center;
        margin-bottom: 5px;
      }
    }
  
  }
}