@charset "UTF-8";
@import "common/var";
@import "common/reset";
@import "mixins/mixins";

@include b(progress) {
  padding: 10px;
  width: 350px;
  // 线形进度条
  &-line {
    height: 20px;
    display: flex;
    align-items: center;
    &-bar {
      width: calc(100% - 60px);
      height: 6px;
      background-color: #ebeef5;
      border-radius: 3px;
      &-inner {
        height: 100%;
        border-radius: 3px;
        width: 0;
        background-color: $--color-primary;
        color: #fff;
        text-align: right;
        font-size: 12px;
        transition: width 0.45s linear;
        &-text {
          padding-right: 5px;
        }
      }
    }
    &-text {
      font-size: 14px;
      display: inline-block;
      margin-left: 10px;
      width: 50px;
      &-inner {
        margin-right: 10px;
        margin-left: 0;
        transform: translateX(-100%);
        color: #fff;
      }
      &-success {
        color: $--color-success;
      }
      &-warning {
        color: $--color-warning;
      }
      &-error {
        color: $--color-error;
      }
    }
  }
  &-circle-area {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px;
  }
  // 环形进度条
  &-circle {
    width: 130px;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      position: absolute;
      left: 0;
      top: 0;
    }
    &-text {
      text-align: center;
    }
  }
  &-dashboard {
    width: 130px;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-svg {
      position: absolute;
      transform: rotate(225deg);
      left: 0;
      top: 0;
    }
    &-text {
      text-align: center;
    }
  }
}
