@charset "UTF-8";
@import "common/var";
@import "common/reset";
@import "mixins/mixins";

@include b(slider) {
  &-horizontal {
    width: 100%;
    padding: 20px;
    &-bar {
      height: 6px;
      position: relative;
      border-radius: 3px;
      background-color: #e4e7ed;
      &-inner {
        height: 6px;
        width: 30%;
        border-radius: 3px;
        background-color: $--color-primary;
        box-sizing: border-box;
      }
      &-dot {
        position: absolute;
        left: -10px;
        top: -7px;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border: 1px solid $--color-primary;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s;
        transform-origin: center;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
